{%extends 'base.html'%}
{% load bootstrap4 %}
{% load static %}
{% block content %}
{{block.super}}
<div class="container">
    <div class="row">
        <div class="col-md-12" id="bgimage">
            <form class="navbar-form" role="search" method="" action="{% url 'search_results' %}" style="margin-right:150px;" >
                {% csrf_token %}
                <div class="input-group">
                <input type="text" class="form-control" placeholder="SearchByProfile" name="name">
                <div class="input-group-btn">
                <button class="btn btn-dark" style="margin-left: 5px;" type="submit">Search</button>
                </div>
                </div>
                </form>

        </div>
    </div>
    <div class="row">
        <div class="col-md-6"></div>
        {% if projects %}
        {% for project in projects %}
        <div class="col-md-6">
            <img src="{{project.image.url}}" alt="">
        </div>
        {% endfor %}
        {%else %}
        <p>There are no Projects to show</p>
        {% endif %}


    </div>
</div>
{% endblock %}