#bgimage{
    background-image: url("../images/awards2.jpeg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%;
    height: 500px;
    background-color: transparent;
 
     
}
#profile{
    display: flex;
}
.navbar-form{
   
    width: 300px;
  
}
#rates{
    box-shadow: 2px 2px 2px 1px grey; 
}
#table{
    box-shadow: 2px 2px 2px 1px grey;
}